html, body{
  Height: 100%;
  Width: 100%;
}

.jumbotron{
  text-align: center;
}

.img-fluid{
max-width: 200px;
height: auto;
border-radius: 20%;
}

.card{
float: inherit;
margin: 4px;
padding: 2px;
border: 2px solid rgba(0, 0, 0, 0.125);
}

.card-title{
  text-align: center;
}

h1{
  font-family: 'Arimo', sans-serif;
}

h2{
  font-family: 'Arimo', sans-serif;
}

h3{
  font-family: 'Arimo', sans-serif;
}