html, body{
  Height: 100%;
  Width: 100%;
}

.jumbotron{
  text-align: center;
}

.card-title{
  text-align: center;
}

h1{
  font-family: 'Arimo', sans-serif;
}

h2{
  font-family: 'Arimo', sans-serif;
}

h3{
  font-family: 'Arimo', sans-serif;
}