html, body{
  Height: 100%;
  Width: 100%;
}

.jumbotron{
  text-align: center;
}

.card{
float: center;
margin: 4px;
padding: 2px;
border: 3px solid rgba(0, 0, 0, 0.125);
}

.card-title{
  text-align: center;
}

h1{
  font-family: 'Arimo', sans-serif;
}

h2{
  font-family: 'Arimo', sans-serif;
}

h3{
  font-family: 'Arimo', sans-serif;
}